S3method(dedup,data.frame)
export(dedup)
export(dup.first)
export(dup.last)
export(dup.last.data.frame)
export(dup.last.data.table)
export(dup.max)
export(dup.min)
export(dup.omit)
export(dup.pass)
export(dup.pivot)
