S3method(dedup,data.frame)
export("data.table-1.9.3")
export(This)
export(argument)
export(be)
export(can)
export(dedup)
export(defined)
export(dup.first)
export(dup.last)
export(dup.last.data.frame)
export(dup.omit)
export(dup.pass)
export(dup.pivot)
export(duplicated)
export(fromLast)
export(gets)
export(the)
export(when)
export(with)
